    <footer class="footer pt-6 pb-5 bg-dark text-white">
        <div class="container">
            <div class="row">
                <div class="col mb-md-0">
                    <a href="https://putvision.github.io/" target="_blank" class="d-flex justify-content-center mb-3">
                        <img src="https://putvision.github.io/assets/images/cropped-LOGO_PUT_VISION_LAB_MAIN.webp" height="30" class="me-2" alt="Themesberg Logo">
                        <p class="text-white fw-bold footer-logo-text m-0">PUT Vision</p>
                    </a>
                </div>
            </div>
        </div>
    </footer>